nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(50, 235, 225);
}

.cabecalho {
    display: flex;
    list-style: none;
    gap: 3rem;
}
footer {
    background-color: darkgrey;
    text-align: center;
}
/*somente ul*/
.rodape {
    list-style: none;
}