nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(50, 235, 225);
}

.cabecalho {
    display: flex;
    list-style: none;
    gap: 3rem;
}
footer {
    background-color: darkgrey;
    text-align: center;
}
/*somente ul*/
.rodape {
    list-style: none;
}
.Rio-Branco {
    display: flex;
    justify-content: space-around; /* Centralize as imagens horizontalmente */
    align-items: center;     /* Centralize as imagens verticalmente */
    
}
.imagem-praca {
    width: auto;            /* Mantenha a largura original */
    height: 200px;          /* Defina uma altura fixa */
    object-fit: contain;    /* Garante que as imagens não sejam cortadas ou distorcidas */
    
}